*{
  background-color: rgb(0, 0, 0);
}
 
.imgg{
  width: 30px;
  position: relative;
}
.link::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  background: #66e5e3;
  left: 0;
  transition: 0.5s;
}
.link:hover::after{
  width: 60%;
}
.outer {
  position: fixed; 
  width: 15vw;
  top: 0;
  margin: 0;
  left: 0; 
  height: 100%; 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  z-index: 1000; 
}
.link {
  margin-bottom: 20px;
}
.img{
  margin-bottom: 20px;
  width: 160px;
}
.quotes {
  color: whitesmoke;
  font-size: 12px;
  font-weight: 300;
}
@media screen and (max-width: 650px) {
  .outer {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%; 
    padding: 5px 5px; 
  }
  .img{
    display: none;
  }
  .outer-inner{
    display: flex;
    flex-direction: row;
  }
  .inner {
    display: flex;
    flex-direction: row; 
  }

  .link {
    margin: 0 20px; 
  }
}