*{
  background-color: rgb(0, 0, 0);
  font-family:'Courier New', Courier, monospace;
 font-style: italic;
}
 
.imgg{
  width: 30px;
  position: relative;
}

.link::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  background: #66e5e3;
  left: 0;
  transition: 0.5s;
}
.link:hover::after{
  width: 60%;
}
.outer {
  position: fixed; 
  width: 15vw;
  top: 0;
  margin: 0;
  left: 0; 
  height: 100%; 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  z-index: 1000; 
}
.link {
  margin-bottom: 20px;
}
.img{
  font-size: 20px;
  font-weight: bolder;
  color: #ddacf5;
  border-radius: 30px;
  margin-bottom: 20px;
  text-shadow: 10px 10px 5px #66e5e3;
}
.quotes {
  color: whitesmoke;
  font-size: 12px;
  font-weight: 300;
}
@media screen and (max-width: 500px) {
  .outer {
    width: 25vw;
  }
  .img {
    width: 100px;
    position: relative;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}