.about{
    padding: 40px;
    width: 87vw;
    align-items: center; 
    color: #f7f7f7;
    font-family:'Courier New', Courier, monospace;
}
.about span{
    color: #ddacf5;
}
.about ul li{
    font-size: 13px; 
    min-width: fit-content;
    animation: pulse 1s;
    line-height: 4ch;
    animation-delay: 1.7s;
}
.about-box{
    display: flex;
    gap:70px;
    margin-top:30px ;
}
.hr{
    width: 15%;
    border: solid 4px;
}
.text{
    margin-top: 40px;
    max-height: 80%;
}
.text h1{
    font-size: 50px;
    font-weight: 300px;
    margin-bottom: 30px;
    left: 20px;   
    color: #66e5e3;
}

.text p{
    font-size: 13px; 
    min-width: fit-content;
    animation: pulse 1s;
    line-height: 4ch;
}
.text p:nth-of-type(1){
    animation-delay: 1.2s;
}
.text p:nth-of-type(2){
    animation-delay: 1.3s;
}
.text p:nth-of-type(3){
    animation-delay: 1.4s;
}
.skills{
    margin: 50px;
    padding: 70px;
    padding-left: 30px;
    width: 90%;
    position: absolute;
    height: 90%;
}
.logo{
    margin-top: 30px;
    margin-right: 660px;
}
#services{
    padding: 30px 0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
   
}
.services-list{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px;
}
.services-list div{
    background: none;
    transition: background 0.5s, transform 0.5s;
}
.services-list div:hover{
    transform: translateY(-10px);
}

.spinnerr{
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-duration: 9s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50%-90px);

}
.spinnerr div{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #ddacf5;
    background-color: black;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #ddacf5;
}

.face1{
    transform: translateZ(100px);
}
.face2{
    transform: rotateY(90deg) translateZ(100px);
}
.face3{
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}
.face4{
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}
.face5{
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}
.face6{
    transform:rotateX(-90deg) translateZ(100px);
}


@keyframes spincube {
    from,
    to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg);
    }
    33%{
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50%{
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66%{
        transform: rotateY(2790deg) rotateZ(90deg);
    }
    83%{
        transform: rotateY(90deg);
    }
}

@media screen and (max-width: 650px) {
    .about{
        margin-right: 30px;
        padding: 60px;
        height: 100vh;
        width: 100vw;
    }
    .text p{
        margin-top: -20px;
        font-size: 10px; 
        line-height: 3ch;
    }
    .services-list{
        margin-top: -40px;
    }
    .textp{
    display: none;    
    }
    .logo{
        display: none;
    }
    .hr{
        width: 35%;
        border: solid 2px;
    }
}